header {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#header-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 50%;
    p{
        margin: 0;
    }
}

#header-github {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 50%;
}